.characterDetail_container {
  display: flex;
  width: 100%;
  height: calc(100vh - 50px);
  flex-direction: row;
  align-content: center;
  justify-content: center;
  backdrop-filter: blur(2px);
}

.characterDetail_data {
  display: flex;
  flex-direction: column;
  width: 60%;
  text-align: center;
  justify-content: space-evenly;
  letter-spacing: 5px;
}

.characterDetail_character-title {
  color: black;
  background-color: rgb(255, 232, 31);
  font-size: 12vmin;
  display: inline-block;
  border-radius: 10px;
  margin-bottom: 3%;
}

.characterDetail_planet-text {
  color: rgb(255, 232, 31);
  font-size: 7vmin;
  background-color: black;
  display: inline-block;
  border-radius: 10px;
  margin-bottom: 3%;
}

.characterDetail_planet-link {
  text-decoration: none;
}

.characterDetail_planet-name {
  color: black;
  background-color: rgb(255, 232, 31);
  font-size: 6vmin;
  display: inline-block;
  border-radius: 10px;
  margin-bottom: 3%;
  text-decoration: underline;
}
.characterDetail_films {
  border-radius: 10px;
}
.characterDetail_films-list-title {
  color: rgb(255, 232, 31);
  font-size: 6vmin;
  background-color: black;
  display: inline-block;
  margin-bottom: 3%;
}
