.card_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 30%;
  height: 200px;
  margin-bottom: 5%;
  box-shadow: 0 20px 30px rgba(243, 240, 240, 0.2);
  border-radius: 10px;
  backdrop-filter: blur(20px);
  transition: background 1s ease-out 0s;
  hyphens: auto;
}

.card_container:hover {
  background: black;
  box-shadow: 10px 10px 10px rgba(255, 233, 31, 0.384),
    10px 10px 10px rgba(243, 240, 240, 0.2),
    10px 10px 10px rgba(255, 233, 31, 0.384);
}

.card_title {
  font-size: 6vmin;
  text-align: center;
  font-weight: 600;
  letter-spacing: 3px;
  line-height: 5vh;
  color: rgb(255, 232, 31);
}

.card_button {
  background-color: rgb(255, 232, 31);
  border: none;
  height: 45px;
  width: 152px;
  border-radius: 10px;
  letter-spacing: 2px;
  font-size: 2.5vmin;

}
