#navbar_container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    position: sticky;
    width: 100%;
    height: 50px;
    background: rgba(249, 219, 121);
    z-index: 3;
    margin-bottom: 15px;

}

.navbar_links{
    grid-column: span 11;
    display: flex;
    justify-content: center;
    align-items: center;

    
}

.navbar_link{
    margin-right: 20px;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition:  all .5s;
    text-decoration:none;



}

.navbar_link:hover{
    color:red;
}