@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Exo 2", sans-serif, serif;
}

.App {
  background: url("./images/background-main.png"),
    url("./images/background-main-2.png"), rgba(255, 233, 31, 0.329);
  background-size: cover;
  background-position: center center;
  background-blend-mode: multiply;
}